<?xml version="1.0"?>

<robot name="double_sided_shelf" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find morpheus_teleop)/urdf/macros/shelf.xacro" />
  <xacro:include filename="$(find morpheus_teleop)/urdf/macros/wall_4x12in.xacro" />
  
  <xacro:macro name="double_sided_shelf"
    params="x:=0 y:=0 z:=0 scale:=0.0254 prefix parent">

    <xacro:shelf
        prefix="${prefix}left_"
        parent="${parent}"
        scale="${scale}"
    />
    <xacro:shelf
        prefix="${prefix}right_"
        parent="${parent}"
        scale="${scale}"
    />

    <xacro:wall_4x12in
        prefix="${prefix}bottom_"
        parent="${parent}"
        scale="${scale}"
    />
    <xacro:wall_4x12in
        prefix="${prefix}top_"
        parent="${parent}"
        scale="${scale}"
    />

    <joint name="${prefix}double_sided_shelf_left_shelf_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}left_shelf" />
      <origin rpy="0 0 1.57079632679" xyz="${scale * 4 + x} ${y} ${z}" />
    </joint>

    <joint name="${prefix}double_sided_shelf_right_shelf_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}right_shelf" />
      <origin rpy="0 0 1.57079632679" xyz="${scale * 9 + x} ${y} ${z}" />
    </joint>

    <joint name="${prefix}double_sided_shelf_bottom_wall_4x12in_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}bottom_wall_4x12in" />
      <origin rpy="1.57079632679 0 1.57079632679" xyz="${scale * 4 + x} ${y} ${z}" />
    </joint>

    <joint name="${prefix}double_sided_shelf_top_wall_4x12in_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}top_wall_4x12in" />
      <origin rpy="1.57079632679 0 1.57079632679" xyz="${scale * 4 + x} ${y} ${scale * 4 + z}" />
    </joint>

  </xacro:macro>

</robot>