<?xml version="1.0"?>

<robot name="shelf" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:include filename="$(find morpheus_teleop)/urdf/macros/wall_4x12in.xacro" />
  <xacro:include filename="$(find morpheus_teleop)/urdf/macros/bar_4in.xacro" />

  <xacro:macro name="shelf"
    params="x:=0 y:=0 z:=0 scale:=0.0254 prefix parent">

    <xacro:wall_4x12in
        prefix="shelf_"
        parent="${parent}"
        scale="${scale}"
    />

    <link name="${prefix}shelf">
        <contact>
            <lateral_friction value="1.0"/>
            <rolling_friction value="0.0"/>
            <contact_cfm value="0.0"/>
            <contact_erp value="1.0"/>
        </contact>
        <inertial>
            <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
            <mass value="1"/>
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
        <visual>
            <origin rpy="0 0 -1.57079632679" xyz="0 0 0.1016"/>
            <geometry>
                <mesh filename="package://morpheus_teleop/meshes/components/visual/wall_4x12in.obj" scale="${scale} ${scale} ${scale}"/>
            </geometry>
            <material name="grey">
                <color rgba="0.3 0.3 0.3 1" />
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 -1.57079632679" xyz="0 0 0.1016" />
            <geometry>
                <mesh filename="package://morpheus_teleop/meshes/components/collision/wall_4x12in.obj" scale="${scale} ${scale} ${scale}"/>
            </geometry>
        </collision>
    </link>

    <link name="${prefix}shelf_leg1">
        <contact>
            <lateral_friction value="1.0"/>
            <rolling_friction value="0.0"/>
            <contact_cfm value="0.0"/>
            <contact_erp value="1.0"/>
        </contact>
        <inertial>
            <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
            <mass value="1"/>
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
        <visual>
            <origin rpy="1.57079632679 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://morpheus_teleop/meshes/components/visual/bar_4in.obj" scale="${scale} ${scale} ${scale}"/>
            </geometry>
            <material name="grey">
                <color rgba="0.3 0.3 0.3 1" />
            </material>
        </visual>
        <collision>
            <origin rpy="1.57079632679 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://morpheus_teleop/meshes/components/collision/bar_4in.obj" scale="${scale} ${scale} ${scale}"/>
            </geometry>
        </collision>
    </link>

    <link name="${prefix}shelf_leg2">
        <contact>
            <lateral_friction value="1.0"/>
            <rolling_friction value="0.0"/>
            <contact_cfm value="0.0"/>
            <contact_erp value="1.0"/>
        </contact>
        <inertial>
            <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
            <mass value="1"/>
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
        <visual>
            <origin rpy="1.57079632679 0 0" xyz="0 -0.0762 0"/>
            <geometry>
                <mesh filename="package://morpheus_teleop/meshes/components/visual/bar_4in.obj" scale="${scale} ${scale} ${scale}"/>
            </geometry>
            <material name="grey">
                <color rgba="0.3 0.3 0.3 1" />
            </material>
        </visual>
        <collision>
            <origin rpy="1.57079632679 0 0" xyz="0 -0.0762 0" />
            <geometry>
                <mesh filename="package://morpheus_teleop/meshes/components/collision/bar_4in.obj" scale="${scale} ${scale} ${scale}"/>
            </geometry>
        </collision>
    </link>

    <link name="${prefix}shelf_leg3">
        <contact>
            <lateral_friction value="1.0"/>
            <rolling_friction value="0.0"/>
            <contact_cfm value="0.0"/>
            <contact_erp value="1.0"/>
        </contact>
        <inertial>
            <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
            <mass value="1"/>
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
        <visual>
            <origin rpy="1.57079632679 0 0" xyz="0.2794 0 0"/>
            <geometry>
                <mesh filename="package://morpheus_teleop/meshes/components/visual/bar_4in.obj" scale="${scale} ${scale} ${scale}"/>
            </geometry>
            <material name="grey">
                <color rgba="0.3 0.3 0.3 1" />
            </material>
        </visual>
        <collision>
            <origin rpy="1.57079632679 0 0" xyz="0.2794 0 0" />
            <geometry>
                <mesh filename="package://morpheus_teleop/meshes/components/collision/bar_4in.obj" scale="${scale} ${scale} ${scale}"/>
            </geometry>
        </collision>
    </link>

    <link name="${prefix}shelf_leg4">
        <contact>
            <lateral_friction value="1.0"/>
            <rolling_friction value="0.0"/>
            <contact_cfm value="0.0"/>
            <contact_erp value="1.0"/>
        </contact>
        <inertial>
            <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
            <mass value="1"/>
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
        <visual>
            <origin rpy="1.57079632679 0 0" xyz="0.2794 -0.0762 0"/>
            <geometry>
                <mesh filename="package://morpheus_teleop/meshes/components/visual/bar_4in.obj" scale="${scale} ${scale} ${scale}"/>
            </geometry>
            <material name="grey">
                <color rgba="0.3 0.3 0.3 1" />
            </material>
        </visual>
        <collision>
            <origin rpy="1.57079632679 0 0" xyz="0.2794 -0.0762 0" />
            <geometry>
                <mesh filename="package://morpheus_teleop/meshes/components/collision/bar_4in.obj" scale="${scale} ${scale} ${scale}"/>
            </geometry>
        </collision>
    </link>

    <joint name="${prefix}shelf_leg1_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}shelf_leg1" />
      <origin xyz="${x} ${y} ${z}" />
    </joint>

    <joint name="${prefix}shelf_leg2_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}shelf_leg2" />
      <origin xyz="${x} ${y} ${z}" />
    </joint>

    <joint name="${prefix}shelf_leg3_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}shelf_leg3" />
      <origin xyz="${x} ${y} ${z}" />
    </joint>

    <joint name="${prefix}shelf_leg4_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}shelf_leg4" />
      <origin xyz="${x} ${y} ${z}" />
    </joint>

  </xacro:macro>

</robot>