<?xml version="1.0"?>

<robot name="trees" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find morpheus_teleop)/urdf/macros/bar_4in.xacro" />
  <xacro:include filename="$(find morpheus_teleop)/urdf/macros/wall_4x12in.xacro" />

  <xacro:macro name="trees"
    params="x:=0 y:=0 z:=0 scale:=0.0254 prefix parent">

    <xacro:wall_4x12in
        prefix="${prefix}"
        parent="${parent}"
        scale="${scale}"
    />
    <xacro:bar_4in
        prefix="${prefix}1"
        parent="${parent}"
        scale="${scale}"
    />
    <xacro:bar_4in
        prefix="${prefix}2"
        parent="${parent}"
        scale="${scale}"
    />
    <xacro:bar_4in
        prefix="${prefix}3"
        parent="${parent}"
        scale="${scale}"
    />

    <joint name="${prefix}trees_wall_4x12in_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}wall_4x12in" />
      <origin rpy="0 1.57079632679 0" xyz="${x} ${y} ${z}" />
    </joint>

    <joint name="${prefix}trees_1bar_4in_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}1bar_4in" />
      <origin rpy="0 0 0" xyz="${x} ${y} ${scale * 1 + z}" />
    </joint>

    <joint name="${prefix}trees_2bar_4in_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}2bar_4in" />
      <origin rpy="0 0 0" xyz="${scale * 5.5 + x} ${y} ${scale * 1 + z}" />
    </joint>

    <joint name="${prefix}trees_3bar_4in_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}3bar_4in" />
      <origin rpy="0 0 0" xyz="${scale * 11 + x} ${y} ${scale * 1 + z}" />
    </joint>
  </xacro:macro>

</robot>