<launch>

    <!-- launch keyboard twist -->
    <arg name="twist_topic" default="/twist_controller/command" />
    <node pkg="teleop_twist_keyboard" type="keyboard_twist.py" name="keyboard_twist" output="screen">
        <param name="twist_topic" value="$(arg twist_topic)" />
    </node>

    <!-- Twist Converter -->
    <node pkg="morpheus_teleop" type="twist_converter.py" name="twist_converter" output="screen"/>

</launch>