<launch>
    <arg name="initial_joint_positions"             default="-J waist 0 -J shoulder -1.5708 -J elbow 1.5708 -J forearm_roll -1.5708 -J wrist_angle -1.5708 -J wrist_rotate 3.14 -J left_finger 0 -J right_finger 0" doc="Initial joint configuration of the robot"/>
    <arg name="controllers"                         default="joint_state_controller gripper_action_controller scaled_pos_joint_traj_controller"/>
    <arg name="stopped_controllers"                 default="cartesian_compliance_controller cartesian_motion_controller motion_control_handle cartesian_force_controller pos_joint_traj_controller"/>
    <arg name="controller_config_file"              default="$(find morpheus_teleop)/config/trossen_controllers.yaml" />
    <arg name="moveit_controller_config_file"       default="$(find homestri_gazebo)/config/b_bot_moveit_controllers.yaml" />
    <arg name="use_rviz"                            default="true" />

    <arg name="robot_model"                         default="vx300s"/>
    <arg name="robot_name"                          default="$(arg robot_model)"/>
    <arg name="dof"                                 default="6"/>
    <arg name="use_moveit_rviz"                     default="true"/>
    <arg name="use_gazebo"                          default="false"/>
    <arg name="use_actual"                          default="false"/>
    <arg name="use_fake"                            default="true"/>

    <arg name="xacro_path"                          default="$(find interbotix_xsarm_descriptions)/urdf/$(arg robot_model).urdf.xacro"/>
    <arg name="srdf_path"                           default="$(find interbotix_xsarm_moveit)/config/srdf/$(arg robot_model).srdf.xacro"/>

    <!-- launch moveit for Trossen xsarms -->
    <include file="$(find interbotix_xsarm_moveit)/launch/xsarm_moveit.launch">
        <arg name="robot_model"                     value="$(arg robot_model)"/>
        <arg name="robot_name"                      value="$(arg robot_name)"/>
        <arg name="dof"                             value="$(arg dof)"/>
        <arg name="use_moveit_rviz"                 value="$(arg use_moveit_rviz)" />
        <arg name="use_gazebo"                      value="$(arg use_gazebo)" />
        <arg name="use_actual"                      value="$(arg use_actual)" />
        <arg name="use_fake"                        value="$(arg use_fake)" />
    </include>
    
</launch>
