<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="trossen_scene">

    <xacro:include filename="$(find homestri_description)/urdf/macros/simple_pedestal_macro.xacro" />
    <xacro:include filename="$(find morpheus_teleop)/urdf/macros/trossen_macro.xacro" />

    <xacro:simple_pedestal
        prefix=""
        parent="world"
        height="${0.0254 * 35}"
        radius="0.15"
    />

    <xacro:trossen
        prefix=""
        parent="pedestal"
    >
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:trossen>

    <gazebo>
        <plugin name="ros_control" filename="libgazebo_ros_control.so">
        </plugin>
    </gazebo>
</robot>