<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="trossen_hera_scene">

    <xacro:include filename="$(find morpheus_description)/urdf/scenes/trossen_scene.xacro" />

    <xacro:include filename="$(find morpheus_description)/urdf/macros/hera_obstacle_course.xacro" />
    <xacro:hera_obstacle_course
        prefix=""
        parent="world"
    >
        <origin xyz="0 0 ${0.0254 * 34.75}" rpy="0 0 0" />
    </xacro:hera_obstacle_course>
    <!-- scale=0.0254 meters/inch -->

</robot>