<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="trossen_scene">

    <xacro:arg name="robot_name" default="vx300s"/>
    <xacro:arg name="base_link_frame" default="base_link"/>
    <xacro:arg name="show_ar_tag" default="false"/>
    <xacro:arg name="show_gripper_bar" default="true"/>
    <xacro:arg name="show_gripper_fingers" default="true"/>
    <xacro:arg name="use_world_frame" default="false"/>
    <xacro:arg name="external_urdf_loc" default=""/>
    <xacro:arg name="load_gazebo_configs" default="false"/>

    <xacro:include filename="$(find homestri_description)/urdf/macros/simple_pedestal_macro.xacro" />
    <xacro:include filename="$(find morpheus_description)/urdf/macros/trossen_macro.xacro" />

    <xacro:simple_pedestal
        prefix=""
        parent="world"
        height="$(-0.0254 * 34.75)"
        radius="0.15"
    />

    <xacro:trossen
        prefix=""
        parent="pedestal"
        tcp_offfset="0"
    >
        <origin xyz="0 0 0" rpy="0 0 0" />
        <xacro:arg name="robot_name" value="${arg robot_name}"/>
        <xacro:arg name="base_link_frame" value="${arg base_link_frame}"/>
        <xacro:arg name="show_ar_tag" value="${arg show_ar_tag}"/>
        <xacro:arg name="show_gripper_bar" value="${arg show_gripper_bar}"/>
        <xacro:arg name="show_gripper_fingers" value="${arg show_gripper_fingers}"/>
        <xacro:arg name="use_world_frame" value="${arg use_world_frame}"/>
        <xacro:arg name="external_urdf_loc" value="${arg external_urdf_loc}"/>
        <xacro:arg name="load_gazebo_configs" value="${arg load_gazebo_configs}"/>
    </xacro:trossen>

    <link name="world" />

    <gazebo>
        <plugin name="ros_control" filename="libgazebo_ros_control.so">
        </plugin>
    </gazebo>
</robot>