<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="trossen">

    <xacro:include filename="$(find morpheus_description)/urdf/macros/vx300s_macro.xacro" />

    <xacro:macro name="trossen"
        params="
        prefix 
        parent
        *origin">

        <xacro:vx300s
            prefix="${prefix}"
            parent="${parent}"
            tcp_offset="0.163"
        >
            <origin xyz="0 0 0" rpy="0 0 0" />
        </xacro:vx300s>

    </xacro:macro>

</robot>